##### hostapd configuration file ##############################################

#Wireless interface to use, check your with iwconfig
#interface=wlan1
#Logger information, -1 all packets
# Levels (minimum value for logged events):
#  0 = verbose debugging
#  1 = debugging
#  2 = informational messages
#  3 = notification
#  4 = warning
#
logger_syslog=-1
logger_syslog_level=2
logger_stdout=-1
logger_stdout_level=2


#AP network configuration specifics, change according with your wireless card, use iwconfig to know what name the interface has
interface=wlan0
#Name of the network
ssid=OPOSEC PMKID

#Hardware mode, might be necessary to solve compatability issues
hw_mode=g

#Set the channel, try to use one free. Kinda difficult in todays day an age
channel=1

#Security types
#WPA 
wpa=2

#Set password
wpa_passphrase=spiderman
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP

#Set PMKID
rsn_preauth=1
driver=nl80211
wme_enabled=1
ieee80211n=1
ht_capab=[HT40+][SHORT-GI-40][DSSS_CCK-40]

